.cardList{
    padding: 20px;
    display: flex;
    min-height: 120vh;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
}

.cardList > li{
    aspect-ratio: 2 / 3;
    list-style-type: none;
    max-width: 20%;
    margin: 5px;
    height: 430px;
    display: flex;
}

.divMid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

article{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    overflow: hidden;

}

.divTop{
    padding: 10px;
    text-align: center;
    width: auto;
    background: #D43089;
    background: linear-gradient(90deg, rgba(212, 48, 137, 1) 0%, rgba(173, 53, 171, 1) 25%, rgba(158, 55, 184, 1) 50%, rgba(254, 211, 114, 1) 75%, rgba(248, 111, 47, 1) 100%);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.divMid{
    overflow: hidden;
    flex-grow: 1;
}

.divBot{
    width: auto;
    padding: 10px;
    text-align: center;
    background: #D43089;
    background: linear-gradient(90deg, rgba(212, 48, 137, 1) 0%, rgba(173, 53, 171, 1) 25%, rgba(158, 55, 184, 1) 50%, rgba(254, 211, 114, 1) 75%, rgba(248, 111, 47, 1) 100%);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.divBot button{
    border: none;
    background: none;
    color: black;
    cursor: pointer
}

@media (max-width: 1440px){
    .cardList > li{
        max-width: 30%;
        height: 540px;
    }
}

@media (max-width: 1024px){
    .cardList > li{
        max-width: 40%;
        height: 430px;
    }
}

@media (max-width: 768px){
    .cardList > li{
        max-width: 40%;
    }
    .cardList{
        flex-direction: row;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 600px){
  
    .cardList > li{
        max-width: 90%;
    }
    .cardList{
        align-content: center;
        flex-direction: column;
    }
}

@media (max-width: 425px){
    .cardList > li{
        max-width: 90%;
    }
    .cardList{
        align-content: center;
        flex-direction: column;
    }
}